img {
    width: 125px;
    resize: both;
  overflow: auto;

 
}

.card-img {
    padding-bottom: 10px;

}


 #map {
   width: 80%;
   height: 400px;
   background-color: grey;
 }

.form-group {
  background: #ffffff;
  padding: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #6C7A89;
  font-size: 25px;
  text-align: center;
}


.border {
  margin: 70px;
}

.padding-footer {
  padding: 30px;
}