/* Logp */

img {
    width: 125px;
    resize: both;
  overflow: auto;

 
}

/* Hero Image */

.callout-container {
                    width: 100%;
                    height: 80vh;
                    background: url('assets/images/dentist.jpg');
                    -webkit-background-size: fixed;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }


 #map {
   width: 80%;
   height: 250px;
   background-color: grey;
   margin-left:auto; 
   margin-right:auto;
   border: 2px solid #2ebddb;
   padding-top: 15px;
 }

.form-group {
  background: #ffffff;
  padding: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #6C7A89;
  font-size: 25px;
  text-align: center;
}


.border {
  margin: 70px;
}

.padding-footer {
  padding: 30px;
}
 .btn {
    padding: 20px;
}