/* fonts import */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Noto+Sans&display=swap');

/* Logp */

img {
    width: 7.183rem;
    resize: both;
  overflow: auto;

 
}

/* Hero Image */

.img_src {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

 #map {
   width: 31.25rem;
   height: 15.625rem;
   background-color: grey;
   margin-left:auto; 
   margin-right:auto;
   border: 0.125rem solid #2ebddb;
   padding-top: 0.938rem;
 }

.form-group {
  background: #ffffff;
  padding: 1.25rem;
  font-family: 'Oxygen', sans-serif;
  color: #6C7A89;
  font-size: 1.563rem;
  text-align: center;
}


.border {
  margin: 4.375rem;
}

.padding-footer {
  padding: 1.875rem;
}
 .btn {
    padding: 1.25rem;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
}

.p {
    font-family: 'Noto Sans', sans-serif;

}

.row {
    padding: 0
    margin: 0;
}